  /*****************************TAG SELECTORS**************************/
body {
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;

}

h1 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 6rem;
    color: #1C6758;
    line-height:4rem
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    color: #D6CDA4;
    font-weight: bold;
}

h3 {
    font-family: 'Raleway', sans-serif;
    color: #D6CDA4;
    font-weight: semi-bold;
}

p {
    color: white;
    line-height: 2;
}

hr {
    margin: 50px auto;
    width: 30%;
    border-style: none;
    border-top-style: dotted;
    border-width: 6px;
    border-color: #D0CAB2;
  }

a:hover {
    color: #1C6758;
}

  /*****************************CLASS SELECTORS**************************/

  .top-container {
    background-image: url("../images/mountain.png");
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 800px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    position: relative;
  }

  .middle-container {
    background-color: #1C6758;
    position: relative;

  }

  .bottom-container {
    padding: 30px;
    background-color: #FA7070;
    position: relative;
  }

  .bold {
    font-weight: bold;
  }

  .bottom_cloud {
    position: absolute;
    left: 300px;
    bottom: 300px:
  }

  .top_cloud {
    position: absolute;
    right: 300px;
    top: 50px;
  }

  .mountain {
    width: 100%;
  }

.bg_info {
    margin: auto;
    width: 60%;
    line-height:2;
}



  .hero-image {
  background-image: url("photographer.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.footer-link {
    color: #D6CDA4;
    text-decoration: none;
    margin: 10px 20px
}

.btn {
  background: #fa7070;
  background-image: -webkit-linear-gradient(top, #fa7070, #fa7070);
  background-image: -moz-linear-gradient(top, #fa7070, #fa7070);
  background-image: -ms-linear-gradient(top, #fa7070, #fa7070);
  background-image: -o-linear-gradient(top, #fa7070, #fa7070);
  background-image: linear-gradient(to bottom, #fa7070, #fa7070);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3D8361;
  background-image: -webkit-linear-gradient(top, #3D8361, #3D8361);
  background-image: -moz-linear-gradient(top, #3D8361, #3D8361);
  background-image: -ms-linear-gradient(top, #3D8361, #3D8361);
  background-image: -o-linear-gradient(top, #3D8361, #3D8361);
  background-image: linear-gradient(to bottom, #3D8361, #3D8361);
  text-decoration: none;
}

.skill-row {
    text-align: left;
    line-height: 2;
    width: 60%;
    margin: 50px auto;
}

.creative-direction{
    margin-right: 30px;
    width: 20%;
    float: left;
}

.motion-design{
    margin-left: 30px;
    width: 20%;
    float: right;
}

.skill-description {
    clear: left;
}

.skill-description2 {
    clear: right;
}

.contact-text {
    width: 40%;
    margin: 40px auto;
}

.copyright {
    font-size: .75rem;
}
